@model GropMng.Web.Areas.Admin.Models.Localization.LanguageModel

<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

<div class="row g-3">
    <div class="col-md-6">
        <grop-label asp-for="Name" />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <grop-label asp-for="LanguageCulture" />
        <input asp-for="LanguageCulture" class="form-control" placeholder="el-GR" />
        <span asp-validation-for="LanguageCulture" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <grop-label asp-for="UniqueSeoCode" />
        <input asp-for="UniqueSeoCode" class="form-control" placeholder="el" />
        <span asp-validation-for="UniqueSeoCode" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <grop-label asp-for="FlagImageFileName" />
        <input asp-for="FlagImageFileName" class="form-control" />
        <span asp-validation-for="FlagImageFileName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <grop-label asp-for="DisplayOrder" />
        <input asp-for="DisplayOrder" class="form-control" type="number" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <div class="col-md-2 d-flex align-items-center">
        <div class="form-check form-switch mt-4">
            <input class="form-check-input" asp-for="Published" />
            <label class="form-check-label" asp-for="Published">@T("admin.localization.language.fields.published")</label>
        </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
        <div class="form-check form-switch mt-4">
            <input class="form-check-input" asp-for="Rtl" />
            <label class="form-check-label" asp-for="Rtl">@T("admin.localization.language.fields.rtl")</label>
        </div>
    </div>
</div>
