<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Root">
    <siteMapNode SystemName="Main" ResourceKey="admin.menu.main" ItemType="Header" />
    <siteMapNode SystemName="Dashboard" ResourceKey="common.dashboard" IconClass="bx bx-home-circle" area="" controller="Home" action="Index" />
    <siteMapNode SystemName="Administration" ResourceKey="admin.menu.administration" ItemType="Header" RequiresAdministrator="true" />
    <siteMapNode SystemName="Admin" ResourceKey="admin.menu.admin" IconClass="bx bx-cog" RequiresAdministrator="true">
      <siteMapNode SystemName="Owners" ResourceKey="admin.menu.owners" area="Admin" controller="Owner" action="List" RequiresAdministrator="true" PermissionNames="Owners.Manage" />
      <siteMapNode SystemName="Roles" ResourceKey="admin.menu.roles" area="Admin" controller="OwnerRole" action="List" RequiresAdministrator="true" PermissionNames="Owners.ManageRoles" />
      <siteMapNode SystemName="Plants" ResourceKey="admin.plant.title" area="Admin" controller="Plant" action="List" RequiresAdministrator="true" PermissionNames="Garden.ManagePlants" />
      <siteMapNode SystemName="AppLogs" ResourceKey="admin.applog.title" area="Admin" controller="AppLog" action="List" RequiresAdministrator="true" PermissionNames="Logging.ManageAppLogs" />
      <siteMapNode SystemName="AdminSettings" ResourceKey="admin.menu.settings" area="Admin" controller="Setting" action="AdminArea" RequiresAdministrator="true" PermissionNames="Configuration.ManageSettings" />
      <siteMapNode SystemName="Localization" ResourceKey="admin.localization.languages.title" area="Admin" controller="Localization" action="List" RequiresAdministrator="true" PermissionNames="Localization.ManageLocalization" />
    </siteMapNode>
  </siteMapNode>
</siteMap>
