@model GropMng.Web.Framework.Models.DataTables.GropDataTablesModel

<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table id="@Model.Name" class="table table-bordered">
            <thead>
                <tr>
                    @foreach (var column in Model.ColumnCollection)
                    {
                        <th class="@column.ClassName" style="@(!string.IsNullOrWhiteSpace(column.Width) ? $"width: {column.Width};" : "")@column.Style">
                            @Html.Raw(column.Title)
                        </th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>

<partial name="_Table.Definition" model="Model" />