@model GropMng.Web.Areas.Admin.Models.Plant.PlantModel
@{
    var titleText = T("admin.plant.create");
    var plantsText = T("admin.plant.title");
    var dashboardText = T("common.dashboard");
    var createText = T("common.create");

    ViewData["Title"] = titleText;
    GropHtml.SetActiveMenuItemSystemName("Plants");

    var headerModel = new AdminPageHeaderModel
    {
        Title = titleText,
        Breadcrumbs = new List<AdminBreadcrumbItemModel>
        {
            new() { Text = dashboardText, Url = Url.Action("Index", "Home", new { area = "" }) },
            new() { Text = plantsText, Url = Url.Action("List", "Plant", new { area = "Admin" }) },
            new() { Text = createText }
        }
    };
}

@await Html.PartialAsync("_AdminPageHeader", headerModel)
@await Html.PartialAsync("Notifications")

<div class="card">
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Plant" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </form>
    </div>
</div>

