@{
    ViewData["Title"] = T("common.dashboard").ToString();
    // TODO: Replace this placeholder view in feature/owner-dashboard-core
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center py-5">
            <div class="avatar avatar-xl mx-auto mb-4">
                <span class="avatar-initial rounded bg-label-success">
                    <i class="bx bx-leaf fs-1"></i>
                </span>
            </div>
            <h4 class="mb-2">@T("dashboard.welcome")</h4>
            <p class="text-muted mb-4">@T("dashboard.coming.soon")</p>
        </div>
    </div>
</div>
